<div class="serie-details-container" *ngIf="serie">
  <div class="details-container">
    <h2>{{ serie.title }}</h2>

    <ul>

      <li> <strong>Description: </strong>{{ serie.description }} </li>
      <p class="actors-container">
        <strong>Acteurs:</strong>
        <!-- <span *ngFor="let actor of serie.persons">{{ actor.name }} ({{ actor.job }}), </span> -->
      </p>

      <li><strong>Country:</strong> {{ serie.country }}</li>

      <li>
        <strong>Genres:</strong>
        <!-- <span
         *ngFor="let genre of serie.genres">{{ genre.name }}:
        </span> -->
      </li>  
      
      <li><strong>Release Date:</strong> {{ serie.date }}</li>
      <li><strong>Rating:</strong> {{ serie.rating }} <span class="star-icon">&#9733;</span></li>

      <li class="comments-container">
        <strong>Comments:</strong>
        <ul>
          <!-- <li *ngFor="let comment of serie.comments">{{ comment.comment }}</li> -->
        </ul>
      </li>

    </ul>

    <button mat-button routerLink="/series-list">Back</button>

  </div>

  <div class="poster-container">
    <img [src]="serie.poster" alt="{{ serie.title }} Poster" class="serie-poster">
  </div> 
  

  </div>
  