.serie-details-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #333;
  }
  
  .poster-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .serie-poster {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .description {
    margin-bottom: 10px;
  }
  
  button {
    background-color: #900404;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: black
  }
  