

<div class="container">
  <p>CinemaBuddy</p>

  <div class="search-container">
    <i class="fas fa-bars"></i> <!-- Icône de menu -->
    <input type="text" placeholder="Rechercher dans CinemaBuddy" [(ngModel)]="searchTerm" />
    <button (click)="search()">
      <i class="fas fa-search"></i>
      Rechercher
    </button>
  </div>

  <div *ngIf="series.length > 0" class="results-container">
    <h3>Résultats de la recherche :</h3>
    <ul>
      <li *ngFor="let serie of series">{{ serie.title }}</li>
    </ul>
  </div>
</div>







