<div class="movie-details-container" *ngIf="movie">
  <div class="details-container">
    <h2>{{ movie.title }}</h2>

    <ul class="details-list">
      <li><strong>Description:</strong> {{ movie.description }}</li>
      <p class="actors-container">
        <strong>Acteurs:</strong>
        <span *ngFor="let actor of movie.persons">{{ actor.name }} ({{ actor.job }}), </span>
      </p>
      <li><strong>Country:</strong> {{ movie.country }}</li>
      <li>
        <strong>Genres:</strong>
        <span *ngFor="let genre of movie.genres">{{ genre.name }}, </span>
      </li>
      <li><strong>Release Date:</strong> {{ movie.release_date }}</li>
      <li><strong>Rating:</strong> {{ movie.rating }} <span class="star-icon">&#9733;</span></li>

      <li class="comments-container">
        <strong>Comments:</strong>
        <ul>
          <li *ngFor="let comment of movie.comments">{{ comment.comment }}</li>
        </ul>
      </li>
    </ul>

    <button mat-button routerLink="/movie-list">Back</button>
  </div>
  <div class="poster-container">
    <img [src]="movie.poster" alt="{{ movie.title }} Poster" class="movie-poster">
  </div>
</div>
