<div>
  <!-- Bouton pour choisir le critère de tri -->
  <select [(ngModel)]="selectedCriterion">
    <option value="genre">Genre</option>
    <option value="actor">Acteur</option>
  </select>

  <!-- Champ de texte pour la saisie -->
  <input type="text" [(ngModel)]="searchTerm" placeholder="Taper le texte...">

  <!-- Bouton pour déclencher le tri -->
  <button  (click)="sortByCriterion()">Trier par {{ selectedCriterion }}</button>

  <!-- Afficher la liste triée des films -->
  <ul *ngIf="series.length > 0">
    <li *ngFor="let serie of series">
      <!-- ... (votre code d'affichage) -->
      <p> {{serie.title}}</p>
    </li>
  </ul>

  <!-- Afficher un message si aucun film n'est trouvé -->
  <p *ngIf="series.length === 0">Aucune serie trouvée.</p>
</div>
